
/* Imports from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Universal Elements */

html {
    overflow: hidden;

    font-family: 'Montserrat', monospace;
}

/* Landing Background */

.big {
   /* Background Image */
    background-image: url("../images/bg.png")

   /* Add the background blur */
    filter: blur(2px);
    -webkit-filter: blur(2px);


   /* Make the image well positioned */
    position: fixed;

    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ltt {
    /* Text formatting */
     color: rgb(255, 255, 255);
     font-size: xxx-large;

    /* Text properties */
     text-align: center;
     letter-spacing: 0.5px;

    /* Make the text well positioned */
     position: fixed;

     margin: auto;
     top: 45%;
     bottom: 0;
     left: 0;
     right: 0;
}

.lts {
    /* Text formatting */
     color: rgb(255, 255, 255);
     font-size: xx-large;

    /* Text properties */
     text-align: center;
     letter-spacing: 0.5px;

    /* Make the text well positioned */
     position: fixed;

     margin: auto;
     top: 48%;
     bottom: 0;
     left: 0;
     right: 0;
}

.ltb {
   /* button styling */
    background-color: rgb(221, 88, 238);
    font-size: x-large;
    color: white;

    text-align: center;
    
    border-radius: 200px;
    width: 120px;
    height: 50px;

    cursor: pointer;

    box-shadow: 4px 10px 4px #00000033;

  /* Make the button well positioned */ 
   position: fixed;
  
   margin: auto;
   top: 4%;
   bottom: 0;
   left: -130;
   right: 0; 
}

.lta {
    /* Make the button well positioned */ 
     position: relative;

     margin: auto;
     top: 15%; 
}

.ltb2 {
    /* button styling */
     background-color: rgb(221, 88, 238);
     font-size: x-large;
     color: white;

     text-align: center;
    
     border-radius: 200px;
     width: 120px;
     height: 50px;
 
     cursor: pointer;

     box-shadow: 4px 10px 4px #00000033;
 
   /* Make the button well positioned */ 
    position: fixed;
   
    margin: auto;
    top: 4%;
    bottom: 0;
    left: 130;
    right: 0; 
}